<% if user_signed_in? %>
<%= current_user.email %> / <%= link_to 'log_out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'log_in', new_user_session_path %>
<% end %>

<hr/>

<h1>Chat Rooms</h1>

<table>
  <thead>
    <tr>
      <th>방제</th>
      <th>인원</th>
      <th>방장</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="chat_room_list">
    <% @chat_rooms.reverse.each do |chat_room| %>
      <tr class="check<%=chat_room.id %>">
        <td><%= chat_room.title %></td>
        <td><span class="current<%=chat_room.id %>"><%= chat_room.admissions.size %></span> / <%= chat_room.max_count %></td>
        <td><%= chat_room.master_id %></td>
        <% if chat_room.max_count > chat_room.admissions_count %>
        <td class="show<%=chat_room.id %>"><%= link_to 'Show', chat_room %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Room', new_chat_room_path %>

<script>
  $(document).on('ready', function() {
    // 자바 스크립트 function
    // 방이 만들어졌을때, 방에대한 data를 받아서 
    
    function room_created(data) {
       $('.chat_room_list').prepend(`
      <tr>
        <td>${data.title}</td>
        <td> <span class="current${data.id}">0</span> / ${data.max_count} </td>
        <td>${data.master_id}</td>
        <td class="show${data.id}"><a href="/chat_rooms/${data.id}">show</a></td>
      </tr>`);
      console.log("방이 추가되었습니다.");
    }
    
    function user_joined(data){
      var current = $(`.current${data.chat_room_id}`);
      current.text(parseInt(current.text())+1);
      
      console.log(data)
      console.log(data.current_state + "이게 펑션안")
      
      if (data.current_state = true){
         $(`.show${data.chat_room_id}`).remove();
      }
    }

    function user_exit(data){
      var current = $(`.current${data.chat_room_id}`);
      current.text(parseInt(current.text())-1);
      console.log(current)
    }
    
    
    // 방장이 사용할수있는 메소드
    function room_delete(data){
      $(`.check${data.id }`).remove();
      console.log("방이 삭제 되었습니다.");
    }
    
    function room_update(data){
      console.log("방이 수정되었습니다.");
    }
    
    
    var pusher = new Pusher("<%= ENV["Pusher_key"]%>", {
      cluster: "<%= ENV["Pusher_cluster"] %>",
      encrypted: true
    });

    var channel = pusher.subscribe('chat_room');
    
    channel.bind('create', function(data) {
      console.log(data);
      room_created(data);
      console.log("방생성함수실행뒤!");
    });
    
    // 방 목록에 추가해주는 function
    channel.bind('join', function(data) {
      console.log(data);
      user_joined(data);

    });
    
    channel.bind('exit', function(data) {
      console.log(data);
      user_exit(data)
    });
    
    
    channel.bind('destroy', function(data){
      room_delete(data)
    });

    channel.bind('update', function(data){
      room_update(data)
      location.reload();
    });
    


    
  });
</script>
