<p>나 : <%= current_user.email %></p>
<p>방장 : <%= @chat_room.master_id %></p>
<h3> 현재 이 방에 참여한 사람 </h3>
<div class="joined_user_list">
<% @chat_room.users.each do |user| %>
    <p class="user-<%= user.id %>"><%=user.email %> </p>
<% end %>
</div>
<hr>




<% if current_user.joined_room?(@chat_room) %>
<div class="chat_list">
 <% @chat_room.chats.each do |chat| %>
    <p><%= chat.user.email%> : <%= chat.message %><small> <%= chat.created_at %></small></p>
<%end%> 
</div>
<%= form_tag("/chat_rooms/#{@chat_room.id}/chat", remote: true) do %>
    <%= text_field_tag :message %>
<% end %>
<hr/>
<% end %>





<% unless current_user.joined_room?(@chat_room) %> 
<span class="join_room">
<%= link_to 'Join', join_chat_room_path(@chat_room), method: 'post', remote: true, class: 'join_room' %> |
</span>
<% else %>
<%= link_to 'Exit',exit_chat_room_path(@chat_room), method: 'delete', remote: true, data: {confirm: "이 방을 나가시겠습니까?"} %>
<% end %>
<% if @chat_room.master_id.eql?(current_user.email) %>
<%= link_to 'delete', chat_room_path(@chat_room), method: 'delete', data: {confirm: "이 방을 없애시겠습니까?"} %> | 
<%= link_to 'Edit', edit_chat_room_path(@chat_room) %> |
<% end %>
<%= link_to 'Back', chat_rooms_path %>
<%= link_to 'ready', ready_chat_room_path(@chat_room), method: 'post',remote: true %>

<script>
    $(document).on('ready', function(){
        
    function user_joined(data){
        $('.joined_user_list').append(`<p class="user-${data.user_id}">${data.email}</p>`);
        $('.chat_list').append(`<p>${data.email}님 께서 입장하셨습니다.</p>`);
        }
    function user_chat(data){
        $('.chat_list').append(`<p>${data.email}: ${data.message} <small>(${data.created_at})</small></p>`)
        }
        
    function user_exit(data){
       $(`.user-${data.user_id}`).remove();
       $('.chat_list').append(`<p>${data.email}님 께서 퇴장하셨습니다.</p>`);
    }
        
    var pusher = new Pusher("<%= ENV["Pusher_key"]%>", {
      cluster: "<%= ENV["Pusher_cluster"] %>",
      encrypted: true
    });
    
    var channel = pusher.subscribe("chat_room_<%=@chat_room.id%>");
    
    channel.bind('join', function(data) { //channel 에서 날라온 data
      console.log("유저 들어감");
      user_joined(data);
    });
    
    channel.bind('chat', function(data){
        user_chat(data);
    });
    channel.bind('exit',function(data){
     console.log("유저퇴장");
       user_exit(data);
    });
    channel.bind('check_ready', function(data) {
      console.log(data);
    })
  });
    


</script>